<md-toolbar color="primary">
	<button md-icon-button (click)="sidenav.toggle()">
	<md-icon>menu</md-icon>
	</button>
<!-- 	<div class="example-scrolling-content">
	<p>hello world</p>
	</div> -->

    <!-- <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>menu</md-icon>
    </button> -->
    <span class="title">Golden</span>
    <!-- <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu> -->
</md-toolbar>

<!-- <nav id="sidenav" class="sidenav">
	<div class="sidenav-header"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i _ngcontent-wcw-0 class="material-icons">arrow_back</i></a></div>
	<a onclick="closeNav()" routerLink="/home" routerLinkActive="active">Home</a>
	<a onclick="closeNav()" routerLink="/poop" routerLinkActive="active">poop</a>
</nav>

<header class="tool-bar">
	<span style="cursor:pointer" onclick="openNav()"><i class="material-icons">menu</i></span>
	<span class="title">Golden</span> 
</header> -->