<div class="hero">
	<h2>Hey ShutterBug</h2>
	<p> • Get that magic photo naturally • </p>
</div>

<div class="home">
	<div class="teal-block wrapper ">
		<h2>The golden hour is a <span>paparazzo's</span> dream.</h2>
		<div class="features">
			<div class="feature">
				<md-icon>brightness_low</md-icon>
				<h4>Lighting</h4>
				<p>In photography, the golden hour is a period shortly after sunrise or before sunset during which daylight softer. It's the prime shooting time and we can tell you when it's going to happen. </p>
			</div>
			<div class="feature">
				<md-icon>location_on</md-icon>
				<h4>Location</h4>
				<p>Now to find THE SPOT, don't worry, we've got you covered. Just enter an address and we'll get you a panorama of the location as well as directions to get there. Pretty neat huh?</p>
			</div>
			<div class="feature">
				<md-icon>bookmark</md-icon>
				<h4>Later</h4>
				<p>Find a location you liked? Or Did you not make it in time? No problem! Sign up for free and you can save your favorite or missed locations as well as leave notes for when you get back.</p>
			</div>
		</div>
	</div>
	<div class="bottom-cta">
		<p> • Enter an address and let's get started • </p>
		<form class="address-input">
			<div class="group">
				<input required />
				<span class="highlight"></span>
				<span class="bar"></span>
				<label>Address</label>
			</div>
			<button><md-icon>send</md-icon></button>
		</form>
	</div>
</div>
